# General
.DS_Store
*.swp
*.log

# Go
server/server
player/player
*.exe
*.test
*.out

# Node
node_modules/
dist/
dist-ssr/
*.local

# Application Data
fantuz.db
.artwork/
player_state.json
config.json

# Temporarily removing the deployment folder
deploy/
